{% extends "base.html" %} {%block header %}
<script type="text/javascript" src="{{static_url('js/index.js')}}"></script>
{%end %} {%block content %}

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">
			First featurette heading. <span class="text-muted">It'll blow
				your mind.</span>
		</h2>
		<p class="lead">Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive"
			src="{{static_url('image/upload/a.gif')}}"
			alt="Generic placeholder image">
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-5">
		<img class="featurette-image img-responsive"
			src="{{static_url('image/upload/a.gif')}}"
			alt="Generic placeholder image">
	</div>
	<div class="col-md-7">
		<h2 class="featurette-heading">
			Oh yeah, it's that good. <span class="text-muted">See for
				yourself.</span>
		</h2>
		<p class="lead">Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">
			And lastly, this one. <span class="text-muted">Checkmate.</span>
		</h2>
		<p class="lead">Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive"
			src="{{static_url('image/upload/a.gif')}}"
			alt="Generic placeholder image">
	</div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->


{%end %}
