{% extends "base.html" %} {%block header %}
<script type="text/javascript" src="{{static_url('js/index.js')}}"></script>
{%end %} {%block content %}

	<div class="jumbotron">
		<h1>Huhu Kingdom</h1>
		<p class="lead">HuhuKingdom is an awesome cartoon website.You will like it.</p>

	</div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for image in list %}
        <div class="col-md-3">
          <h2>heading</h2>
          <img  alt="logo" src="{{static_url('image/upload/'+image)}}" >
          <p>{{image}}</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        {%end%}
      </div>
	<div class="row marketing">

	</div>


{%end %}
